<header>
  <h1>Welcome | My Inventory Management Project has been started | 6 Categories (ja's) </h1>
</header>
<!-- <nav>
  <a href="./Home.html">Home</a>
  <a href="./Courses.html">Courses</a>
  <a href="/About.html">About Us</a>
  <a href="./Contact.html">Contact</a>
</nav> -->
<main class="courses-container">
  <section class="course-card">
    <h2>Home Expenses</h2>
    <p>
      50% of the salary income should be allocated to this Category (Jar).
    </p>
  </section>
  <section class="course-card">
    <h2>Luxury</h2>
    <p>
      10% of the salary income should be allocated to this Category (Jar).
    </p>
  </section>
  <section class="course-card">
    <h2>Emergency Fund / Medical Expenses</h2>
    <p>
      15% of the salary income should be allocated to this Category (Jar).
    </p>
  </section>
  <section class="course-card">
    <h2>Learning</h2>
    <p>
      10% of the salary income should be allocated to this Category (Jar).
    </p>
  </section>
  <section class="course-card">
    <h2>Investments</h2>
    <p>
      10% of the salary income should be allocated to this Category (Jar).
    </p>
  </section>
  <section class="course-card">
    <h2>Charity</h2>
    <p>
      5% of the salary income should be allocated to this Category (Jar).
    </p>
  </section>
</main>
<footer>
  <p>&copy; 2024 Sivaji BPL Inventory. All rights reserved.</p>
</footer>

<!-- <router-outlet></router-outlet> -->
